$utilities: () !default;
$utilities: map-merge((
    "align": (
      property: vertical-align,
      class: align,
      values: baseline top middle bottom text-bottom text-top
    ),
    "float": (
      responsive: true,
      property: float,
      values: (
        start: left,
        end: right,
        none: none,
      )
    ),
    "top": (
      property: top,
      values: $position-values
    )
), $utilities);